<nav class="nav-home">
    <ul class="list">
        <li class="item{% if page.title == "Home" %} current{% endif %}">
            <a class="link" href="{{ site.url }}/">Home</a>
        </li>

        {% if site.projects == true %}
            <li class="item{% if page.title == "Projects" %} current{% endif %}">
                <a class="link" href="{{ site.url }}/projects">Projects</a>
            </li>
        {% endif %}

        {% if site.about == true %}
            <li class="item{% if page.title == "About" %} current{% endif %}">
                <a class="link" href="{{ site.url }}/about">About</a>
            </li>
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>
</nav>
