.social-links
    > .link
        margin: 0
        text-decoration: none
        position: relative
        display: inline-block
        height: 35px
        width: 35px
        color: $zeta

        &:hover
            color: $delta

        > svg
            width: 20px
            height: 20px
            fill: currentColor
            position: absolute
            top: 50%
            left: 50%
            margin: -10px 0 0 -10px
            transition: all ease-in-out .2s
